home_dir="/home1/mmhamdi/"
data_path="/home1/mmhamdi/Datasets/CS/"
results_dir="/home1/mmhamdi/Results/cs-aware-colab/"
schema_path="/home1/mmhamdi/Datasets/CS/metadata/schema_sp_hi_en.json"
scenarios_path="/home1/mmhamdi/Datasets/CS/metadata/scenarios.json"
stop_words_path="/home1/mmhamdi/Datasets/CS/metadata/common_words_en_es.txt" # TODO to be replaced to fit hindi